.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.containerWrap {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.container {
  width: 100%;
  max-width: var(--container-max-width);
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
}